
           <div class="container" style="display: flexbox;">
            {% if profile.user.username %}
            username : {{ profile.user.username }} <br>
            {% endif %}
            {% if profile.student.first_name %}
            First Name : {{ profile.student.first_name }} <br>
            {% endif %}
            {% if profile.student.last_name %}
            Last Name : {{ profile.student.last_name }} <br>
            {% endif %}
            {% if profile.student.student_roll %}
            Student Roll : {{ profile.student.student_roll }} <br>
            {% endif %}
            {% if profile.email %}
            email : {{ profile.email }} <br>
            {% endif %}
        </div>
        <ol>    
        
                {% for course in profile.student.courses.all %}
                    <li>{{ course.title }}</li>
                {% endfor %}
    
    
        </ol>
<div class="container" style="display: flexbox;">
    <a href="{% url 'add_courses' %}">Add Courses?</a><br>
    <a href="{% url 'update' %}">Update?</a>
</div>